
//- khối head có 2 phần : logo và menu
//- chia làm 12 phần logo 3 phần ==> 3/12 = 1/4 ==> 25% ( div )
//- bọc 2 khối trong 1 thẻ div width = 80% ( body ) height = 20vh va can deu 2 le

header.header
    .container-fluid 
        .row-align-items-center 
            .col-3 
                .inner-logo 
                    a(href="/admn/dashboar") ADMIN 
            .col-9
        