header.head-fixed
  .inner-logo
    a(href='/')
      img(src='/img/logo.png', alt='', loading="lazy")
  .inner-menu
    input(type="checkbox", name="openNav", id="openNav")
    label(for="openNav" class="openNav")
      span
      span
      span
    ul.list-menu
      li 
        a(href="/") TRANG CHỦ 
      li
        a(href="#gioi_thieu") GIỚI THIỆU
      li
        a(href="#vi_tri") VỊ TRÍ
      li
        a(href="#tien_ich") TIỆN ÍCH  
      li 
        a(href="#noi_bat") KHU VỰC NỔI BẬT 
      li
        a(href="#Tin_tuc") TIN TỨC 
      li
        a(href="#i-mg") ẢNH 
      li
        a(href="#contact") LIÊN HỆ 
