.slide#home
  .list
    .item
      img(src='/img/ae97fb5b6599c7c79e88.jpg', alt='', loading="lazy")
    .item
      img(src='/img/459915568b9429ca7085.jpg', alt='', loading="lazy")
    .item
      img(src='/img/ae41f18e6f4ccd12945d.jpg', alt='', loading="lazy")
    .item
      img(src='/img/cde8e92777e5d5bb8cf4.jpg', alt='', loading="lazy")
    .item
      img(src='/img/8e6225aabb6819364079.jpg', alt='', loading="lazy")
  .buttons.x
    button#prev &lt;
    button#next &gt;
  ul.dots.x
    li.active
    li
    li
    li
    li
  h2(class="slogon", style="text-align:center") Welcome<br><i class="fas fa-home fa-spin fa-xs" style="color: #FFD43B; font-size:1.1vw;">to</i><br>Danko Riverside
