.header{
    background-color: #202020;
    padding: 10px 0;
    position: sticky;
    top:0;
    z-index: 999;
}

.header .inner-logo a{
    font-size: 24px;
    font-weight: 700;
    color:#fff;
    text-decoration: none;
}



.body .sider{
    width: 150px;
    background-color: 323232;
    color: #fff;
    height: calc(100vh - 56px);
    position: fixed;
    top:56;
    left: 0;
}

.body .main{
    margin: 15px;
    position: relative;
    left: 150px;
    width: calc(100% - 180px);
}