extend ../../layout/default.pug

block main 
    div(style="margin-left:auto; margin-right:auto; margin-top 20px; margin-bottom:20px width:70%; height:fit-content;") Chúng tôi đã nhận được thông tin của bạn, chúng tôi sẽ cố gắng liên hệ sớm nhất