* {
    margin: 0;
    padding: 0;
}

.main-4 {
    height: 70vh;
    width: 99.2vw;
    border: solid;
    background-color: rgb(141, 5, 5);
    color: rgb(246, 203, 174);
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.inner-right-4 {
    height: 64%;
    width: 40%;
    overflow-y: scroll;
    /* Để thanh cuộn dọc vẫn xuất hiện */
    overflow-x: hidden;
    /* Ẩn thanh cuộn ngang */
}

.inner-right-4 ul {
    list-style: decimal;
    margin-left: 24px;
}

.inner-right-4 ul li {
    padding: 5px;
    border-bottom: solid 1px;
    font-size: 11px;
}

.inner-left-4 {
    height: 64%;
    width: fit-content;
    /* auto thì ==> = width nội dung = fit-content*/
}

.inner-left-4 img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    /* object-fit: cover; chấp nhận vỡ ảnh*/
    /* muốn dùng cover phải cài width và height trước */
}

/* @media screen and(max-width:1000px) and để sát với() sẽ bị lỗi nha tôi cx muốn kêu wtf đấy */
@media screen and (max-width:1000px) {
    .main-4 {
        height: calc(100vw*16/9);
        justify-content: space-around;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
        flex-wrap: wrap;
        width: 96vw;
    }

    .inner-right-4 {
        height: 60%;
        width: 100vw;
        border-bottom: solid;
    }

    .inner-left-4 {
        height: 30%;
        width: 99.2vw;
    }
    .inner-right-4 h1{
        font-size: 50px;
    }
    .inner-right-4 ul li {
        padding: 10px;
        border-bottom: solid 2px;
        font-size: 4vw;
    }
    .inner-right-4 ul {
        padding: 0;
        margin-left: 100px;
    }
}