extend ../../layout/default.pug

block main
    include ../../praticals/slide-banner-head.pug
    include ../../praticals/main/main1.pug
    include ../../praticals/main/main2.pug
    include ../../praticals/main/main3.pug
    include ../../praticals/main/main4.pug
    include ../../praticals/main/main5.pug
    include ../../praticals/main/main6.pug
    include ../../praticals/main/main7.pug