.background-slide-3
  .inner-content-3
    h1
      | &Dstrok;&#x1EB7;c quy&#x1EC1;n ti&#x1EC7;n nghi 
      br
      |                 s&#x1ED1;ng cu&#x1ED9;c s&#x1ED1;ng vi&ecirc;n m&atilde;n
  .inner-imgs-3
    .inner-img
      img(src='/img_2/Ảnh chụp màn hình 2024-07-18 174657.png', alt='', loading="lazy")
    .inner-img
      img(src='/img_2/Ảnh chụp màn hình 2024-07-18 174622.png', alt='', loading="lazy")
    .inner-img
      img(src='/img_2/Ảnh chụp màn hình 2024-07-18 174648.png', alt='', loading="lazy")
    .inner-img
      img(src='/img_2/Ảnh chụp màn hình 2024-07-18 174601.png', alt='', loading="lazy")
    .inner-img
      img(src='/img_2/Ảnh chụp màn hình 2024-07-18 174640.png', alt='', loading="lazy")
    .inner-img
      img(src='Khối rỗng để cân bằng flex', alt='')