div(id="vi_tri" style='height: fit-content; border: 1px solid; display: flex; flex-direction: column; justify-content: space-between; align-items: center;')
  div
    h1(style='color: rgb(141, 5, 5); font-size: 50px; font-weight: 700;') Vị Trí
  div
    p(style="color: #000; text-shadow: none; font-size: 17px;") Danko Bắc Giang được quy hoạch thuộc địa phận phường Đa Mai và xã Song Mai,<br>thành phố Bắc Giang (thuộc đồ án Quy hoạch phân khu Khu số 4, thành phố Bắc Giang); ranh<br>giới thiết kế được giới hạn như sau:
    br
    ul
      li Phía Bắc: Giáp đường Trần Hưng Đạo;
      li Phía Nam: Giáp đất nông nghiệp và thôn Thượng Phú;
      li Phía Tây: Giáp quốc lộ 17 (Đường Hoàng Hoa Thám);
      li Phía Đông: Giáp đê sông Thương.
  div(style="display:flex; flex-direction: column; justify-content: center; justify-items: center; align-items: center;")
    div
      iframe(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3723.901582451429!2d105.83671507503169!3d21.036623580614652!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135ab83c83d3565%3A0x457ecb7931c6f9bc!2zS2h1IEto4bqjbyBD4buVIEhvw6BuZyBUaMOgbmggVGjEg25nIExvbmc!5e0!3m2!1svi!2s!4v1720772976856!5m2!1svi!2s', name='adress' style="width:70vw; height:calc(70vw*9/16);")
    div
      h2 liên kết vùng
      img(src="/img/Ảnh chụp màn hình 2024-07-18 172746.png", alt="", style="width:90vw; height:calc(90vw*9/16)")
      
