.main-5#noi_bat
  .background-5
    h1 KHU VỰC NỔI BẬT
    p
      | Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequuntur, enim excepturi perspiciatis 
      br
      |                 reprehenderit non ipsa nostrum molestias corrupti impedit velit fuga hic sunt deleniti tempore 
      br
      |                 perferendis ut ipsam dolorum exercitationem!
    .control-5
      button(class="active") khu-1
      -for(var i = 2; i<=13; i++)
        button khu-#{i}
  .background-5
  .main-img-5
    img(src='/img/2024.4.2 Dự án Danko Riverside Bắc Giang _compressed-hình ảnh-7.jpg', alt='', loading="lazy")
  .text-5
    h1 Something
    p
      | Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequuntur, enim excepturi perspiciatis 
      br
      |                 reprehenderit non ipsa nostrum molestias corrupti impedit velit fuga hic sunt deleniti tempore 
      br
      |                 perferendis ut ipsam dolorum exercitationem!
