.content-one#gioi_thieu
  .background-one
    .inner-one
      .text
        h2(style="margin-bottom:15px;") DANKO BẮC GIANG - KHU ĐÔ THỊ ĐA MAI, SONG MAI 2
        p(style="margin-bottom:10px;") Danko Bắc Giang ( Khu Đô Thị Đa Mai, Song Mai 2 ) tọa lạc tại phường Đa Mai TP Bắc Giang. Thuộc đồ án quy hoạch Khu vực Phía Tây TP Bắc Giang. Dự án do Danko Group làm chủ đầu tư. Với phong cách thiết kế đặc biệt chú trọng đến không gian sống của các cư dân. Là một dự án khu đô thị đẳng cấp Bắc Giang. Dự án có quy hoạch tạo thành một quần thể không gian sống khép kín với đầy đủ các tiện ích nội khu xung quanh. Nhằm phục vụ cho nhu cầu sống tiện ích đẳng cấp.
        p(style="margin-bottom:10px;") Tính chất: Là Khu đô thị mới được quy hoạch đồng bộ các công trình hạ tầng xã hội và hạ tầng kỹ thuật đồng bộ theo hướng đô thị hiện đại.
        p Mục tiêu:
        p >Cụ thể hóa Quy hoạch phân khu khu số 4, thành phố Bắc Giang;
        p >Làm cơ sở để lập dự án đầu tư và quản lý xây dựng theo quy hoạch.
      .video
        img(src='/img/7c85594ac78865d63c99.jpg', alt='', width='100%', loading="lazy")
  .background-one
    .inner-two
      .text-two
        h2(style="color:rgb(246, 203, 174); margin-bottom:10px;") T&#x1ED4;NG QUAN D&#x1EF0; &Aacute;N
        ul
          li Tên pháp lý dự án: Khu Đô Thị Đa Mai – Song Mai 2, TP Bắc Giang
          li Địa chỉ: Phường Đa Mai và xã Song Mai, TP Bắc Giang
          li CĐT: Danko Group
          li Tổng diện tích dự án: 43,9 Ha
          li Quy mô: 962 lô đất ở liền kề, biệt thự
          li Quy mô dân số: 6.196 người.
          li Mật độ xây dựng: tối đa 40%
          li Diện tích: 75, 80, 85, 90.5m2 mặt tiền 5m
          li Tổng mức đầu tư của dự án (làm tròn): 1.870.185.806.000 đồng.
          li Thời hạn sử dụng: Lâu dài
          li Số tầng được xây dựng: 5 tầng
          li Tiến độ thi công: Đang thi công
          li Pháp lý: Đã được phê duyệt QH 1/500
      span
        h1
          <i class="fas fa-star fa-sm" style="color:rgb(246, 203, 174);"></i>
          <i class="fas fa-star fa-sm" style="color:rgb(246, 203, 174);"></i>
          <i class="fas fa-star fa-sm" style="color:rgb(246, 203, 174);"></i>
          <i class="fas fa-star fa-sm" style="color:rgb(246, 203, 174);"></i>
          <i class="fas fa-star fa-sm" style="color:rgb(246, 203, 174);"></i>
        p(id="start" style="font-size:18px; font-weight:900; color: rgb(calc(246*20%), calc(203*20%), calc(174*20%))") Ra mắt khu đô thị cao cấp<br>Danko Riverside - cảm hứng từ phong cách thiết kế<br>sân vườn của các cung điện, vườn nổi tiếng của Châu Âu,<br>tạo nên sự tráng lệ, sang trọng cho khu đô thị<br>Danko Riverside. Đem đến trải nghiệm sống, tinh hoa.<br>Không gian cảnh quan tổng thể dự án<br>mang trải nghiệm như <span style="color:rgb(246, 203, 174);">“Phương Tây thu nhỏ”</span>.
        // lorem ctrl space enter
  .background-two
    .inner-two(style="display:block; position: relative;")
      .ico(style="position: absolute; bottom:0%; right:5%;                           ")
        <i class="fas fa-swimmer fa-lg" style="color: #d6c47a; font-size:50px;"></i>
        <i class="fas fa-baby fa-lg" style="color: #63E6BE; font-size:50px;"></i>
        <i class="fas fa-hamburger fa-lg" style="color: #FFD43B; font-size:50px;"></i>
      .text-two(style="position: absolute; top:15%; right: 5%")
        span
        <i class="fas fa-seedling fa-flip-horizontal fa-lg" style="color: #63E6BE;"></i>
        <i class="fas fa-seedling fa-flip-horizontal fa-lg" style="color: #63E6BE;"></i>
        <i class="fas fa-seedling fa-flip-horizontal fa-lg" style="color: #63E6BE;"></i>
        h1 Tiện ích nổi bật
        ul(style='color: aliceblue;')
          li Trường mầm non
          li Khu vui chơi trẻ em
          li Trung tâm thương mại
          li Bể bơi ngoài trời
          li Hồ cảnh quan
          li Công trình cảnh quan – cây xanh
          li Công viên thể thao ngoài trời với hệ thống trang thiết bị hiện đại
          li Bể bơi bốn mùa trong nhà.
