.main-4#tien_ich
  .inner-right-4
    h1 Ti&#x1EC7;n &iacute;ch n&#x1ED9;i &dstrok;&ocirc;
    ul
      li C&#x1ED4;NG CH&Agrave;O
      li &Dstrok;&#x1EA0;I QU&#x1EA2;NG TR&#x1AF;&#x1EDC;NG
      li TH&Aacute;P BI&#x1EC2;U T&#x1AF;&#x1EE2;NG
      li V&#x1AF;&#x1EDC;N PH&Aacute;P
      li V&#x1AF;&#x1EDC;N TH&#x1EE4;Y S&#x1EF8;
      li V&#x1AF;&#x1EDC;N &Yacute;
      li SU&#x1ED0;I H&Agrave; LAN
      li S&Acirc;N TH&#x1EC2; THAO ATHENS
      li KH&Ocirc;NG GIAN D&#x1EA0;O B&#x1ED8;
      li SHOPHOUSE 312 c&abreve;n
      li BI&#x1EC6;T TH&#x1EF0; 35 c&abreve;n
      li s&acirc;n ch&#x1A1;i tr&#x1EBB; em
      li ch&ograve;i ngh&#x1EC9; k&#x1EBF;t h&#x1EE3;p gi&#x1EA3;i kh&aacute;t Colonnade back ground
      li Gym outdoor &amp; s&acirc;n t&#x1EAD;p d&#x1B0;&#x1EE1;ng sinh
      li Kh&ocirc;ng gian Swiss yard (&dstrok;&#x1EC3; &dstrok;&#x1ECD;c s&aacute;ch ngo&agrave;i tr&#x1EDD;i, thuy&#x1EBF;t tr&igrave;nh, s&#x1EF1; ki&#x1EC7;n nh&#x1ECF;...)
      li v&#x1B0;&#x1EDD;n BBQ
  .inner-left-4
    img(src='/img/Ảnh chụp màn hình 2024-07-10 014540.png', alt='', loading="lazy")
